
initial experiments/mmlu/data/*
initial experiments/llama_cpp/
initial experiments/llama_cpp
final_version/llama_c++/
final_version/CodeGeeX/
final_version/evalplus/
final_version/benchmarks/CodeGeeX/
final_version/benchmarks/evalplus/
final_version/benchmarks/PurpleLlama/
